@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide */
::-webkit-scrollbar { width: 0px; background: transparent; }

body {
  -webkit-tap-highlight-color: transparent;
}